<nav class="navbar navbar-expand-lg navbar-light bg-light bg-white fixed-top">
  <a class="navbar-brand" style="margin-left: 10%;"> <img src="/assets/logo.png"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="margin-left: 20%;">
        <a class="nav-link" href="#">JOB <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TEAM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PROJECT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SAVED</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SHORLIST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">MEETING
          <div class="elementor-element elementor-element-986b44d Rectangle elementor-widget elementor-widget-heading"
            data-id="986b44d" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
              <h6 class="elementor-heading-title elementor-size-default">&nbsp;&nbsp;<br></h6>
            </div>
          </div>
        </a>
      </li>
    </ul>
    
      <ul class="navbar-nav mr-auto form-inline my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link"><img src="/assets/search.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><img src="/assets/notify.png"></a>
        <li class="nav-item">
          <a class="nav-link"><img src="/assets/chat.png"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><img src="/assets/profile.png"></a>
        </li>
      </ul>
   
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<router-outlet></router-outlet>