<section class="section">
    <div class="container">
        <h3 style="text-align: center;">MIS.PROFILE DETAILS</h3>
        <div class="elementor-element elementor-element-eeb0d1f Rectangle elementor-widget elementor-widget-heading"
            data-id="eeb0d1f" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h6 class="elementor-heading-title elementor-size-default">&nbsp;&nbsp;<br></h6>
            </div>
        </div>
        <div style="float: right;">
            <p>Dwnload Profile <img src="/assets/share.png"><span style="margin-left: 10px;"> <img
                        src="/assets/arrow.png"></span></p>
        </div>
        <div class="row">
            <div class="c">

            </div>
        </div>
    </div>
</section>
<!-- Top par end here -->
<section>
    <div class="col-sm-10 mt-5" style="margin-left: 90px;">
        <div class="card mt-3">
            <div class="card-body">
                <div class="row">
                    <div _ngcontent-dxy-c14="" class="ribbon-wrapper-green">
                        <div _ngcontent-dxy-c14="" class="ribbon-green">
                            <div _ngcontent-dxy-c14="" class="pp">
                                <div _ngcontent-dxy-c10="" ribbon="" style="pointer-events: none">$ 12.00
                                </div>
                            </div>
                        </div>
                    </div>
                    <p _ngcontent-dxy-c14="" class="per-rate"><span _ngcontent-dxy-c10="" per-x=""
                            style="pointer-events: none">per hour</span></p>
                    <div class="col-sm-4">
                        <img class="picture" src="/assets/img.jpg" alt="">
                        <h5 class="card-title">{{candy[0]?.name}}</h5>
                        <p class="card-text"> Website : {{candy[0]?.website}}</p>
                        <app-display-star _ngcontent-dxy-c10="" class="card-star" ratehovered="2" _nghost-dxy-c15="">
                            <div _ngcontent-dxy-c15="" class="figure">
                                <!---->
                                <fa _ngcontent-dxy-c15="" name="star" _nghost-dxy-c23=""
                                    class="yellow ng-star-inserted"><i _ngcontent-dxy-c23="" aria-hidden="true"
                                        class="fa fa-star"></i></fa>
                                <fa _ngcontent-dxy-c15="" name="star" _nghost-dxy-c23=""
                                    class="yellow ng-star-inserted"><i _ngcontent-dxy-c23="" aria-hidden="true"
                                        class="fa fa-star"></i></fa>
                                <fa _ngcontent-dxy-c15="" name="star" _nghost-dxy-c23="" class="ng-star-inserted"><i
                                        _ngcontent-dxy-c23="" aria-hidden="true" class="fa fa-star"></i></fa>
                                <fa _ngcontent-dxy-c15="" name="star" _nghost-dxy-c23="" class="ng-star-inserted"><i
                                        _ngcontent-dxy-c23="" aria-hidden="true" class="fa fa-star"></i></fa>
                                <fa _ngcontent-dxy-c15="" name="star" _nghost-dxy-c23="" class="ng-star-inserted"><i
                                        _ngcontent-dxy-c23="" aria-hidden="true" class="fa fa-star"></i></fa>
                            </div>
                        </app-display-star>
                    </div>

                    <div class="col-sm-8">
                        <p class="card-text"><img src="/assets/pin.png">{{candy[0]?.address}}</p>
                        <p class="card-text">Total Experience : {{candy[0]?.experience}}</p>
                        <p class="card-text">Skills : {{candy[0]?.Skills}}</p>
                        <p class="card-text"> {{candy[0]?.decription}}</p>
                        <hr>

                    </div>


                </div>
                <div class="row">

                    <div class="col-sm-1" style="margin-left: 7%;">
                        <div _ngcontent-syj-c5="" foot="">
                            <div _ngcontent-syj-c5="" class="card-foot-wrapper" style="pointer-events: none"><button
                                    _ngcontent-syj-c5="" class="card-save">Save </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-4">
                        <div _ngcontent-syj-c5="" foot="">
                            <div _ngcontent-syj-c5="" class="card-foot-wrapper" style="pointer-events: none">
                                <div _ngcontent-syj-c5="" class="card-grow-5"></div><button _ngcontent-syj-c5=""
                                    class="card-shortlist">Shortlist </button><button _ngcontent-syj-c5=""
                                    class="card-schedule-call">Schedule Call</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>
<!-- card complted here -->

<div class="container">
    <h3 class="head-part mt-3">Portfolio</h3>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="/assets/pic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nebory Mobile Application</h5>
                    <p class="card-text">Some quick example text to build on the.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-left: 70px;">
            <div class="card" style="width: 18rem;">
                <img src="/assets/pic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nebory Mobile Application</h5>
                    <p class="card-text">Some quick example text to build on the.</p>

                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-left: 70px;">
            <div class="card" style="width: 18rem;">
                <img src="/assets/pic.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nebory Mobile Application</h5>
                    <p class="card-text">Some quick example text to build on the.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="line">
        <h5 class="more" style="float: right;">Show More</h5>
    </div>

</div>

<div class="container mt-5">
    <h4 class="Skill & Tool">Skill & Tool</h4>
    <hr>
    <div class="row">
        <div class="first-row">
            <div class="buttons-group form-inline">
                <button class="button">Adobe Photoshop</button>
                <button class="button" style="margin-left: 15px;">Adobe Desgin</button>
                <button class="button" style="margin-left: 15px;">Adobe Photoshop</button>
                <button class="button" style="margin-left: 15px;">Adobe Desgin</button>
            </div>
        </div>
        <div class="second-row mt-3">
            <div class="buttons-group form-inline">
                <button class="button">Mac sketch</button>
                <button class="button" style="margin-left: 15px;">Adobe Desgin</button>
                <button class="button" style="margin-left: 15px;">Adobe Desgin</button>
                <button class="button" style="margin-left: 15px;">Adobe Photoshop</button>
            </div>
        </div>
        <div class="third-row mt-3">
            <div class="buttons-group form-inline">
                <button class="button">Adobe Desgin</button>
                <button class="button" style="margin-left: 15px;">Adobe Photoshop</button>

            </div>
        </div>
    </div>
    <div class="line">
        <h5 class="more" style="float: right;">Show More</h5>
    </div>
</div>
<!-- section end here -->
<div class="container mt-5">
    <h4 class="Skill & Tool">Industry Experience</h4>
    <hr>
    <div class="row">
        <div class="first-row">
            <div class="buttons-group form-inline">
                <button class="button">Agriculture</button>
                <button class="button" style="margin-left: 15px;">Accounting</button>
                <button class="button" style="margin-left: 15px;">Healthcare</button>
                <button class="button" style="margin-left: 15px;">Software</button>
            </div>
        </div>
    </div>
    <!-- section end here -->

    <div class="container mt-4">
        <h4 class="Skill & Tool">Working Hours</h4>
        <h6 class="working-hours" style="float: right;">Part time - Demand on</h6>
        <hr>
        <!-- checkbox here -->
        <div class="row">
            <div class="checkboxs-group">
                <ul class="form-inline">
                    <li class="check-group">
                        <div class="form-group">
                            <label class="customcheck">
                                <input type="checkbox" checked="checked" name="products">
                                <span class="checkmark"></span>
                            </label>
                            <span style="margin-left: 30px;">Monday</span>
                        </div>
                    </li>
                    <li class="check-group">
                        <div class="form-group">
                            <label class="customcheck">
                                <input type="checkbox" checked="checked" name="products">
                                <span class="checkmark"></span>
                            </label>
                            <span style="margin-left: 30px;">Tuesday</span>
                        </div>
                    </li>
                    <li class="check-group">
                        <div class="form-group">
                            <label class="customcheck">
                                <input type="checkbox" checked="checked" name="products">
                                <span class="checkmark"></span>
                            </label>
                            <span style="margin-left: 30px;">Wednesday</span>
                        </div>
                    </li>
                    <li class="check-group">
                        <div class="form-group">
                            <label class="customcheck">
                                <input type="checkbox" checked="checked" name="products">
                                <span class="checkmark"></span>
                            </label>
                            <span style="margin-left: 30px;">Thursday</span>
                        </div>
                    </li>
                    <li class="check-group">
                        <div class="form-group">
                            <label class="customcheck">
                                <input type="checkbox" checked="checked" name="products">
                                <span class="checkmark"></span>
                            </label>
                            <span style="margin-left: 30px;">Friday</span>
                        </div>
                    </li>
                    <li class="check-group">
                        <div class="form-group">
                            <label class="customcheck">
                                <input type="checkbox" checked="checked" name="products">
                                <span class="checkmark"></span>
                            </label>
                            <span style="margin-left: 30px;">Saturday</span>
                        </div>
                    </li>
                    <li class="check-group">
                        <div class="form-group">
                            <label class="customcheck">
                                <input type="checkbox" checked="checked" name="products">
                                <span class="checkmark"></span>
                            </label>
                            <span style="margin-left: 30px;">Sunday</span>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end -->
            <div class="form-group row">
                <div class="col-xs-2">
                    <button class="btn-dropup" type="button" class="btn btn-light">12:00PM</button>
                    <button type="button" class="btn btn-light">12:00PM</button>
                    <button type="button" class="btn btn-light">12:00PM</button>
                </div>
                <div class="col-xs-2 Dropup">
                    <button type="button" class="btn btn-light">12:00PM</button>
                </div>
                <div class="col-xs-2 Dropup">
                    <button type="button" class="btn btn-light">12:00PM</button>
                </div>
                <div class="col-xs-2 Dropup">
                    <button type="button" class="btn btn-light">12:00PM</button>
                    <button type="button" class="btn btn-light">12:00 PM</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-2">
                    <button class="btn-dropup" type="button" class="btn btn-light1">TO</button>
                    <button type="button" class="btn btn-light1">TO</button>
                    <button type="button" class="btn btn-light1">TO</button>
                </div>
                <div class="col-xs-2 Dropup">
                    <button type="button" class="btn btn-light1">TO</button>
                </div>
                <div class="col-xs-2 Dropup">
                    <button type="button" class="btn btn-light1">TO</button>
                </div>
                <div class="col-xs-2 Dropup">
                    <button type="button" class="btn btn-light1">TO</button>
                    <button type="button" class="btn btn-light1">TO</button>
                </div>
            </div>
               
            <!-- end -->
            <div class="form-group row">
                <div class="col-xs-2">
                    <button class="btn-dropup" type="button" class="btn btn-light">12:00PM</button>
                    <button type="button" class="btn btn-light">12:00PM</button>
                    <button type="button" class="btn btn-light">12:00PM</button>
                </div>
                <div class="col-xs-2 Dropup">
                    <button type="button" class="btn btn-light">12:00PM</button>
                </div>
                <div class="col-xs-2 Dropup">
                    <button type="button" class="btn btn-light">12:00PM</button>
                </div>
                <div class="col-xs-2 Dropup">
                    <button type="button" class="btn btn-light">12:00PM</button>
                    <button type="button" class="btn btn-light">12:00 PM</button>
                </div>
            </div>

            <!-- end -->

            <div class="container mt-4">
                <h4 class="Skill & Tool">Social Media Profile</h4>
                <hr>
                <div>
                    <ul class="form-inline">
                        <li class="icons">
                            <a href="#" class="fa fa-google"></a>
                        </li>
                        <li class="icons">
                            <a href="#" class="fa fa-facebook"></a>
                        </li>
                        <li class="icons">
                            <a href="#" class="fa fa-linkedin"></a>
                        </li>
                        <li class="icons">
                            <a href="#" class="fa fa-twitter"></a>
                        </li>
                        <li class="icons">
                            <a href="#" class="fa fa-instagram"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- end -->
            <!-- end -->

            <div class="container mt-4">
                <h4 class="Skill & Tool">Experience</h4>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <h6>May 2018 - Current</h6>
                    </div>
                    <div class="col-md-1">
                        <div class="second-part"></div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="Skill & Tool">Facebook,Inc</h4>
                        <h6 class="">Team Designer</h6>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                            from 45 BC, making it over 2000 years oldLorem Ipsum is not simply random text. It has roots
                            in a piece of classical Latin literature from 45 BC, making it over 2000 years old. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="first">April 2015 - May 2018</h6>
                    </div>
                    <div class="col-md-1">
                        <div class="second-part"></div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="Skill & Tool">Facebook,Inc</h4>
                        <h6 class="">Team Designer</h6>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                            from 45 BC, making it over 2000 years oldLorem Ipsum is not simply random text. It has roots
                            in a piece of classical Latin literature from 45 BC, making it over 2000 years old. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="third">Jan 2011 - April 2015 </h6>
                    </div>
                    <div class="col-md-1">
                        <div class="second-part"></div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="Skill & Tool">Facebook,Inc</h4>
                        <h6 class="">Team Designer</h6>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                            from 45 BC, making it over 2000 years oldLorem Ipsum is not simply random text. It has roots
                            in a piece of classical Latin literature from 45 BC, making it over 2000 years old. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                      
                    </div>
                </div>
                <div class="line">
                    <h5 class="more" style="float: right;">Show More</h5>
                </div>

            </div>

            <!-- end -->

            <div class="container mt-4">
                <h4 class="Skill & Tool">Education</h4>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <h6>May 2019 - May 2011</h6>
                    </div>
                    <div class="col-md-1">
                        <div class="vl"></div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="Skill & Tool">Facebook,Inc</h4>
                        <h6 class="">Team Designer</h6>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                            from 45 BC, making it over 2000 years oldLorem Ipsum is not simply random text. It has roots
                            in a piece of classical Latin literature from 45 BC, making it over 2000 years old. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                                           </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h6 class="second">April 2006 - May 2018</h6>
                    </div>
                    <div class="col-md-1">
                        <div class="vl"></div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="Skill & Tool">Facebook,Inc</h4>
                        <h6 class="">Team Designer</h6>
                        <p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                            from 45 BC, making it over 2000 years oldLorem Ipsum is not simply random text. It has roots
                            in a piece of classical Latin literature from 45 BC, making it over 2000 years old. It has
                            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
                                           </div>
                </div>
            </div>